{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<body data-new-gr-c-s-check-loaded="14.1096.0" data-gr-ext-installed="">
    <div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#"></a>
      
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Intelligent Garbage Monitoring and Classification</h1>
      <p class="lead my-3">Separating garbage activity is not practiced in Pakistan. Our system will separate the
        garbage into recyclable and non-recyclable categories</p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Our Goal</strong>
          <h3 class="mb-0"> Waste Classification</h3>
          <div class="mb-1 text-muted">Feb 15</div>
          <p class="card-text mb-auto">The system uses IoT devices as carriers to process image information in real-time, identifying
            the type of garbage. The machine will distribute the litter into two containers</p>
        
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="https://source.unsplash.com/200x300/?plastic" class="d-block w-100" alt="3">        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Promote Hygiene</strong>
          <h3 class="mb-0">Waste Level Monitoring</h3>
          <div class="mb-1 text-muted">Feb 15</div>
          <p class="mb-auto">This feature allows continuous monitoring of garbage levels after waste is separated into its
            respective bin. This step is to ensure that the trash doesn’t overflow the bins.</p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="https://source.unsplash.com/200x300/?bin" class="d-block w-100" alt="3">        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Automating the process of Garbage Collection
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Objectives</h2>
        <p class="blog-post-meta">January 1, 2023 by <a href="#">Kashaf Khan</a></p>

        <p>By developing a garbage classification system using Computer Vision, Machine Learning algorithms, and IoT sensors, we plan to automate the process of garbage collection. The streets
            of our cities will be free from pollution by eliminating the heaps of garbage. The user will
            benefit from our reward point system in exchange for the trash they dump in our bin. Also, by
            continuously monitoring the level of garbage, the authorities can maintain a proper plan and
            schedule to pick up the litter before it overflows the bin. We picked this project because we
            believe that the hygiene problem of our city is a pressing concern. Using automated technology,
            we have devised a plan to give people a lifestyle with benefits and the authorities a better and
            proper systematic solution.</p>
        <hr>
        <ul>
          <li>Provide instant classification at the initial stage (when the user disposes of trash in a bin).</li>
          <li>Encourage proper waste management in the general public through Automated recycling</li>
          <li>Reduce the pressure of garbage treatment resulting in harmless incineration.</li>
          <li>Decrease the power generation of garbage and solve the problem of landfills.</li>
          <li>Provide a solution to monitor and properly handle garbage for authorities</li>
          <li> Provide an implementable solution to solve street littering problems in our cities</li>
          <li> To increase the value of recyclable material and waste market for sustainable use.</li>

        </ul>
       

      <div class="blog-post">
        <h2 class="blog-post-title">Features</h2>
        <p class="blog-post-meta">January 1, 2023 by <a href="#">Kashaf Khan</a></p>

        <p>Our project has three main features that are:</p>
        <ol>
            <li>Waste Classification</li>
            <li>Waste Level Monitoring</li>
            <li>Reward Points</li>
        </ol>
      </div><!-- /.blog-post -->


      <div class="p-4">
        <h4 class="font-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2023</a></li>
          <li><a href="#">February 2023</a></li>
          <li><a href="#">January 2023</a></li>
          <li><a href="#">December 2023</a></li>
        </ol>
      </div>

</main><!-- /.container -->


</div></body>
{% endblock body %}
